body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
